---
Checks: >
  -*,
  abseil-*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -google-readability-namespace-comments,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  -misc-include-cleaner,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -performance-avoid-endl,
  -performance-enum-size,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-redundant-access-specifiers,
  -readability-math-missing-parentheses,
  -readability-isolate-declaration

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,              value: CamelCase }
  - { key: readability-identifier-naming.ClassCase,                  value: CamelCase }
  - { key: readability-identifier-naming.StructCase,                 value: CamelCase }
  - { key: readability-identifier-naming.TemplateParameterCase,      value: CamelCase }
  - { key: readability-identifier-naming.TypeTemplateParameterCase,  value: CamelCase }
  - { key: readability-identifier-naming.VariableCase,               value: camelBack }
  - { key: readability-identifier-naming.ClassMemberCase,            value: CamelCase }
  - { key: readability-identifier-naming.ClassMethodCase,            value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberPrefix,        value: m_        }
  - { key: readability-identifier-naming.ProtectedMemberPrefix,      value: m_        }
  - { key: readability-identifier-naming.EnumConstantCase,           value: CamelCase }
  - { key: readability-identifier-naming.ConstexprVariableCase,      value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantCase,         value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantPrefix,       value: g_        }
  - { key: readability-identifier-naming.GlobalFunctionCase,         value: CamelCase }
  - { key: readability-identifier-naming.MemberConstantCase,         value: CamelCase }
  - { key: readability-identifier-naming.MemberConstantPrefix,       value: m_        }
  - { key: readability-identifier-naming.StaticVariableCase,   	     value: CamelCase }
  - { key: readability-identifier-naming.StaticVariablePrefix,       value: s_        }
  - { key: readability-identifier-naming.StaticMethodCase,   	     value: CamelCase }
  - { key: readability-identifier-naming.ClassMemberCase,   	     value: CamelCase }
  - { key: readability-identifier-naming.ClassMemberPrefix,          value: s_        }
